#<Files .htaccess>
#	Order allow, deny
#	Deny from all
#</Files>
#
#<Directory  "./docker">
#	Order allow,deny
#	Deny from all
#</Directory>
#
#<Directory  "./fake">
#	Order allow,deny
#	Deny from all
#</Directory>
#
#<Directory  "./vendor">
#	Order allow,deny
#	Deny from all
#</Directory>

<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    #RewriteBase /path/to/app
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>

FallbackResource index.php