<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^/check$ - [L]
RewriteRule ^/notify$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /check.php [L]
</IfModule>